.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 230, 118, 0.5);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
}